/* HOME PAGE */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  max-width: 5%;
  height: auto;
}

.icon:first-child {
  margin-right: 2%;
}

/* ABOUT PAGE */

.sectionWrapper {
  margin-top: 7.5%;
}

#myPicture {
  max-width: 40%;
  height: auto;
  float: left;
  border-radius: 360px;
  margin-right: 6%;
  margin-bottom: 5%;
}
